body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
   position: relative;
   box-sizing: border-box;
   display: inline-block;
   size: 24%;
   padding: 4px;
   margin-left: 25px;
   list-style-type: upper-roman;
   border-style: solid black;
   border-radius: 5px;
   background-color: aqua;
   color: darkblue;
   
 }

 nav li {
   border: 2px solid black;
   background-color: aqua;
   border-radius: 20px;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
   padding: 15px;
   margin: 20px;
   display: inline-block;
   width: 20%;
 }

/* Begin my styling below this point */

img {
   display: inline-block;
   max-height: 200px;
   width: 24%;
   padding: 11px;
   border-style: dotted;
   margin: none;
   
}
