body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
   position: relative;
   box-sizing: border-box;
   display: inline-block;
   size: 24%;
   padding: 4px;
    margin-left: 25px;
    list-style-type: upper-roman;
    border-style: solid black;
    border-radius: 5px;
    background-color: aqua;
    color: darkblue;
   
 }

/* Begin my styling below this point */
